<div flex layout-fill layout="column" class="relative">
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="$ctrl.addTask($event);">
        <ng-md-icon icon="add" style="fill:white; top: 5px; position: relative;" size="20"></ng-md-icon>
    </md-button>

    <md-toolbar ng-show="!$ctrl.showMapSearchBar" class="animate-show md-whiteframe-z1 md-whiteframe-4dp">
        <div class="md-toolbar-tools">
            <img src="img/kdev.png" width="40"/>
            <h3 style="color:white">
                Gerenciador de Tarefas
            </h3>
        </div>
    </md-toolbar>

    <md-card>
        <md-card-content layout="row" layout-align="start center">
            <md-input-container flex>
                <label>Pesquisa</label>
                <input ng-model="task.title">
            </md-input-container>

            <div layout="row" layout-align="space-between center">
                <md-select ng-model="weapon" placeholder="Tipos de Tarefas" class="md-no-underline">
                    <md-option value="concluida">Tarefas Concluídas</md-option>
                    <md-option value="pendente">Tarefas Pendentes</md-option>
                    <md-option value="todas">Todas as Tarefas</md-option>
                </md-select>
            </div>

            <md-button class="md-icon-button md-primary" ng-click="$panel.remove();">
                <ng-md-icon icon="search" style="fill:black; position: relative;" size="20"></ng-md-icon>
            </md-button>
        </md-card-content>
    </md-card>

    <md-content layout="row">
        <div flex="25"></div>

        <div layout="column" flex="50">
            <md-expansion-panel-group md-component-id="expansionPanelGroup">
            </md-expansion-panel-group>
        </div>

        <div flex="25"></div>
    </md-content>
</div>
